--- block/Kconfig.iosched
+++ block/Kconfig.iosched
@@ -74,6 +84,7 @@
 config DEFAULT_IOSCHED
 	string
 	default "deadline" if DEFAULT_DEADLINE
+	default "vr" if DEFAULT_VR
 	default "cfq" if DEFAULT_CFQ
 	default "noop" if DEFAULT_NOOP
 
